<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<!---1不限制每次处理量-->
		<add key="OnceOfQuantity"  value="50"/>
		<!--文件大小超过 FileLimitSize KB 压缩-->
		<add key="FileLimitSize"  value="1024"/>
		<!--处理文件后缀名-->
		<add key="FileExtensionNames"  value=".jpg,.png,.jpeg,.bmp,.gif,.tiff"/>
		<!--输入目录  空字符表示输出到源目录-->
		<add key="OutPutPath"  value=""/>
	</appSettings>
</configuration>
